@charset "utf-8";

/*
   Author: ETHW-ECPI
   Date:   5/27/2026
   
   Filename: styles.css
*/

main {
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
}

section {
   padding: 20px;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

body {
   background-color: #f2f2f2;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
}

nav {
   display: flex;
   justify-content: center;
}

nav ul {
   list-style-type: none;
   padding: 0px;
}

nav ul li {
   margin: 0px 15px;
   color: white;
   background-color: #333;
   padding: 12px 20px;
   text-decoration: none;
   display: block;
   border-radius: 4px;
}

nav ul li:hover {
   background-color: #555;
   transition: 0.3s;
}
